// Colors

$black:				#232323;
$white:				#ffffff;
$yellow:			#F7E53B;
$gray:				#cccccc;

$link-color:		$yellow;



// Font Stacks

$body-font:			"Fira Mono", "Courier Prime", "Courier New", courier, monospace;
$heading-font:		"Helvetica Neue", helvetica, arial, sans-serif;

// Breakpoints
$handheld: 			600px;

// Mixins

@mixin responsive-img {
	max-width: 100%;
	height: auto;
	}